*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;

}
.bodysigaa
{
    background-image: url(img/sigaa.jpeg);
    background-size: 100%;
  
}
.bodysipac
{
    background-image: url(img/sipac.jpeg);
    background-size: 100%;
}

.bodysigrh
{
    background-image: url(img/sigrh.jpeg);
    background-size: 100%;
}
.bodysigpp
{
    background-image: url(img/sigpp.jpeg);
    background-size: 100%;
}
.bodysiged
{
    background-image: url(img/siged.jpeg);
    background-size: 100%;
}
.bodysigadmin
{
    background-image: url(img/Sigadmin.jpeg);
    background-size: 100%;
}


.menu
{
    background-color:#141F49;
    width: 80vw;
    height: 75px;
    margin-left: 10%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    z-index: 5;
    

 
}


.menu ul
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: bold;
    
}

.menu ul a
{
    padding: 45px;
    display: block;
   /* text-decoration:overline;*/
    color: white;
    font-size: 22px;
    position: relative;
    bottom: 35px;
    text-decoration: none;
    
   
}

.fundo_form
{
    background-color:#F1F1F1;
    width: 50%;
    height: 90vh;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    opacity: 88%;
    bottom: 1px;
    
   
    
}

label
{
    display: flex;
    padding: 10px;
    justify-content: center;
    position: relative;
    
    
  
    
}
input
{
    font-size: 25px;
    width: 65%;
    height: 50px;
    background-color:#F1F1F1;
    color:#141F49;
    border-bottom: solid #141F49  4px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 30px;
   
    
    
    
}
input:focus
{
    box-shadow: 0 0 0 0;
    outline: 0;
   


 
    
}

input::placeholder
{
    color: #141F49;
    font-size: 20px;
    position: relative;
    left: 40px;
    
}
.form 
{
    position: relative;
    top: 20%;
    right: 5%;
}

.titulo
{
    position: relative;
    top: 5%;
    right: 27%;
    font-size: 60px;
    color: #141F49;
    font-weight: bold;
}
.titulosigadmin
{
    position: relative;
    top: 5%;
    right: 22%;
    font-size: 60px;
    color: #141F49;
}
h4
{
    position: relative;
    top: 10%;
    right: 15%;
    font-size: 22px;
    color:#11386B ;
}

.entrar
{
    background-color: #141F49;
    color: white;
    width: 515px;
    height: 50px;
    border-radius: 50px;
    border-color: #141F49;
    font-size: 25px;
    position: relative;
    top: 15px;;
    border: none;
   
}
.cadastrar
{
    background-color:#11386B;
    border:none;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    right: 180px;
    top: 20px;
    font-size: 20px;

}
.ajuda
{
    color: #11386B;
    float: right;
    position: relative;
    bottom: 20px;
    right: 125px;
    font-size: 19px;


}
.if_versao
{
    position: relative;
    top: 48px;
    right: -15%;
    color: #11386B;
    font-size: 11px;
    font-style: italic;
}

section
{
    width: 100%;
}


.links a:hover
{
    text-decoration: overline;
    position:relative;
    transform: translate(-3%,-3%) scale(1.2);


}
.links a:active
{
    text-decoration: overline;
}
#linkmomento
{
    text-decoration: overline;
}

#icone_usuario
{
    color:#141F49;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 20px;;
    
}
#icone_senha
{
    color:#141F49;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 20px;;
    
}      



@media (min-width:320px)and (max-width:480px)







{



    .menu
    {
        background-color: transparent;

    }
    .menumove
    {
        position: relative; 
        top: 30px;
        background-color: transparent;


        
    }
    

    .mobile
    {
        list-style:none;
        font-size: 30px;
        position: relative;
        z-index: 5;
        text-align: center;
        width: 100%;
        transition: all .10s;
        
        
        
        
    }
   
   

    .mobile li
    {
        position:relative;
        text-align: center;
        align-items: center;
        bottom: 20px;
        width: 100%;
        height: 100%;
        transition: all .10s;
        
        
    }
    .links
    {
        background-color: #141F49;
        width: 100%;
        height: 100%;
        opacity: 80%;
        transition: all .10s;
    }
    .mobile li a
    {
        color:red; 
        text-decoration:none; 
      
        display:block;
    }

    .mobile li  ul
    {
        position:absolute;
        top:30px;
        background-color:transparent;
        display:none;
    }

    .menumove  a
    {
        display:block;
        background-color: #141F49;
        width: 100%;
        height: 100%;
        transition-duration:  all .10s;
        background-color: black;
        

    }

    .mobile li:active ul
    {
        display:block;
       
        width: 100%;
        height: 100%;
        transition-duration: 10s;
        background-color: pink;
    }
    .mobile li:active
    {
        display:block;
        transition-duration: 100s;
        transition-property:all;
        
        
    }

    .mobile li ul li{
        
        display:block;
        width:100%;
        height: 100%;
        background-color: #141F49;
        transition: all .5s;
        }




   
   
   

    

    .fundo_form
{
    background-color:#F1F1F1;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    opacity: 88%;
    bottom: 1px;
    
   
    
}

}